
$main_color: #ff5ab3;
$secondary_color: #f23d9f;
$font_color_main: #4a4a4a;
$font_color_default: #1a1a1a;
$font_color_default_opacity: rgba(26, 26, 26, 0.1);
$font_color_secondary: #8c8c8c;
$font_color_disabled: #bdbdbd;
$content-background-color: #f8f8f8;
$default-background-color: #fff;
$requirement_color: #ff0000;