@import './constant.scss';
@import './responsive.scss';

.listHeading{
    text-align: center;
    color: $default-background-color;
    margin-bottom: 1rem;
}
.listTable{
    min-width: 950px;

    @include respond-to(laptop-small) {
        min-width: 850px;
      }
    @include respond-to(mobile) {
        min-width: 350px;
      }
}
